@font-face {
  font-family: "Proxima Nova 600";
  src: url(./assets/fonts/proximanova_regular.ttf);
}
@font-face {
  font-family: "Proxima Nova 700";
  src: url(./assets/fonts/proximanova_extrabold.otf);
}
* {
  padding: 0;
  margin: 0;
}
.layout {
  position: relative;
}

// ========================================


